li.todo__item {
  padding: calc(0.5rem * 1.5) 0.5rem;

  margin-top: calc(2.5 * 0.5rem);
  border: 2px solid #5c5c5c;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor:grab;

  &:active {
    cursor: grabbing;
  }
}