.todo__container {
  margin: calc(3 * 0.5rem);
  display: flex;
  gap: 2.8rem;
  
  .active__todo, .completed__todo {
    flex-grow: 1;
    padding: calc(4 * 0.5rem);
    border: 2px solid #5c5c5c;
    border-radius: 4px;
    // box-shadow: 0.5rem .5rem 0 #5C5C5C;
    box-shadow: 6px 6px 0 0 #5C5C5C;
    max-height: 57vh;
    overflow-y: auto;
    
    h2{
      color: #5c5c5c;
    }
  }

  ul.todos {
    list-style-type: none;
  }
  ul li.todo__item {
    padding: calc(0.5rem * 1.5) 0.5rem;

    margin-top: calc(2.5 * 0.5rem);
    border: 2px solid #5c5c5c;
    border-radius: 4px;
    font-size: 0.95rem;
    cursor:grab;

    &:active {
      cursor: grabbing;
    }
  }

}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  // -webkit-border-radius: 10px;
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  // -webkit-border-radius: 10px;
  // border-radius: 10px;
  background: #cfcfcf; 
}